*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,li{list-style: none;}

body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: #333;
}

.po-re{position: relative;}
.hei-0{height: 0;}
.hei-85{height: 85vh;}
.menu-txt{
  font-weight: 500;
  color: #E98F8F;
  background-color: rgba(155, 155, 155, .2);
}
.opa-0{opacity: 0;}
.opa-1{opacity: 1;}

.over-hid{
  overflow: hidden;
}

header{
  width: 100vw;
  height: 15vh;
  background-color: beige;
}

#logo{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 15vh;
}

#menu{
  display: flex;
  width: 30vw;
  height: 15vh;
  justify-content: center;
  align-items: center;
  margin-left: 60vw;
}
#menu>li{
  width: 25%;
  text-align: center;
  transition: 200ms;
  cursor: pointer;
}
.box{width: 100vw; transition: 200ms; overflow: hidden; position: relative;}
#main {background: url(./grass-315184.jpg) center center no-repeat;}
#main>p{
  position: absolute;
  color: white;
}
#about {background-color: goldenrod;}
#skills {background-color: silver;}



#about>h1{
  transform: rotateX(0deg);
  display: block;
  transition: 1s;
}
#about>h1:hover{
  transform: rotateZ(-30deg);
}

#about-wrap{
  position: relative;
  left: 10vw;
  top: 15vh;
  width: 80vw;
  border: 1px solid black;
  height: 60vh;
}

#picture{
  position: absolute;
  width: 25vw;
  height: 60vh;
  background-color: white;
}
#textbox{
  top: 5vh;
  height: 50vh;
  width: 40vw;
  border: 1px solid black;
  position: absolute;
  right: 8vw;
}

#project{
  width: 100vw;
  height: 200vh;
  background-color: blanchedalmond;
  padding: 10vw;
}

#project>h1{
  position: absolute;
  top: 17.5vh;
  left: 20vw;
  color: black;
}
#con{
  width: 80vw;
  height: 150vh;
  background-color: white;
}